@import url("https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;600;700;800;900&display=swap');

$font: #fff;
$link: #32cbf7;

html {
    font-size: 18px;
    line-height: 18px;


    @include lg() {
        font-size: 16px;
    }

    @include xs() {
        font-size: 14px;
    }

}


body {
    font-family: 'Noto Sans TC', sans-serif;
    background: #1b1b1b;
    overflow-y: auto;
    overflow-x: hidden !important;
    background-image: url(../../img/bg.jpg);
    background-position: center;

    .wrap {
        max-width: 1918px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        @extend %bg-cover;
        overflow: hidden !important;

    }


    #particles-js {
        width: 100%;
        height: 100%;
        @include ab-lt(0px, 0px);
        z-index: 3;
    }

}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #a0917e;
}

::-webkit-scrollbar-track {
    background: #4a2208;
}